# Directories
.pytest_cache
.coverage
__doc/build

# build folders
/build/
/wheelhouse/
/dist/
/cmake-build-debug/
/cmake-build-release/
*.egg-info

# IDE files
.vscode
.idea

# Filetypes
*.pyc
*.dat
*.data
*.npy
*.so
*.o
