# Directories
tomo/cpp_routines/.vscode
example_input
tomo/.idea
.pytest_cache
__doc/build
unit_tests/old/
.vscode
.idea
/build/
/wheelhouse/

# Filetypes
*.pyc
*.dat
*.data
*.npy
*.so
*.o
/cmake-build-debug/
/cmake-build-release/
